* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

/* utilities */
.pad-10 {
  padding: 10px;
}

h1 {
  color: #fff;
}

.container {
  display: flex;
  flex-direction: row;
}

.app-container {
  height: 100vh;
  background: black;
  display: flex;
}

.sidebar {
  background: grey;
  display: flex;
  flex-direction: column;
  flex-basis: 220px;
}

.main-menu {
  background: darkgrey;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.upgrade {
  background: red;
  display: flex;
  flex-direction: row;
}

.nav-menu {
  background: blue;
  display: flex;
  flex-direction: row;
}

.nav-menu p {
  padding: 5px;
  display: flex;
}

.recently,
.create {
  display: flex;
  flex-direction: row;
}

footer {
  background: orange;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
