* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* utilities */
.pad-10 {
  padding: 10px;
}

.pad-5 {
  padding: 5px;
}

.text-center {
  text-align: center;
}

.grey {
  color: lightgrey;
  opacity: 0.5;
}

.h2-white {
  color: #fff;
  font-size: 18px;
  padding: 10px 0;
}

.h5-album {
  color: #fff;
}

/* app */
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-container {
  background: black;
  display: flex;
  flex-grow: 1;
}

/* sidebar */
.sidebar {
  background: #000;
  display: flex;
  flex-direction: column;
  flex-basis: 220px;
}

.logo img {
  max-width: 60%;
}

/* icon-menu */
.icon-menu ul li {
  padding: 5px;
  list-style: none;
}

.icon-menu ul li span {
  margin-left: 5px;
}

.icon-menu ul li img {
  max-width: 14%;
}

.home {
  position: absolute;
  top: 78px;
}

.cerca {
  position: absolute;
  top: 115px;
}

.libreria {
  position: absolute;
  top: 155px;
}

/* playlist */
.playlist {
  flex-grow: 1;
}

.playlist h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
}

.playlist i {
  opacity: 1;
  font-size: 40px;
  padding: 10px 0;
}

.playlist span {
  position: absolute;
  top: 235px;
}

.playlist ul li {
  list-style: none;
  line-height: 33px;
}

.install-app::after {
  content: '';
  display: block;
  height: 1px;
  background: lightgrey;
  width: 90%;
  margin-top: 10px;
}

/* profile */
.profile {
  position: relative;
}

.profile img {
  margin-top: 10px;
  width: 25px;
  background-color: #777;
  border-radius: 50%;
  height: 25px;
}

.profile span {
  color: #fff;
  font-weight: 600;
  position: absolute;
  top: 12px;
  padding-left: 10px;
}

/* main menu */
.main-menu {
  position: relative;
  background: darkgrey;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.upgrade {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  background: #000;
  height: 60px;
  z-index: 1;
}

.btn {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  font-size: 10px;
  text-transform: uppercase;
  margin-top: 10px;
  padding: 9px;
  width: 12%;
}

.scrollable {
  background: #222;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding-top: 60px;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-menu ul {
  display: flex;
}

.nav-menu ul li {
  flex-direction: row;
  list-style: none;
  margin: 20px 0;
  font-size: 12px;
}

.nav-menu ul li a {
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
}

.box ul {
  display: flex;
  flex-direction: row;
}

.box img {
  max-width: 95%;
}

.box ul li {
  list-style: none;
}

/* footer */
footer {
  background: orange;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
